<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1774093691-dovann1f53e8bq6vsqcukqp217hc9erv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1774093691-dovann1f53e8bq6vsqcukqp217hc9erv</string>
	<key>API_KEY</key>
	<string>AIzaSyDb8a0y5km8r0i7_K9FPBjBISo1PflZn68</string>
	<key>GCM_SENDER_ID</key>
	<string>1774093691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>final-school-project-3aeb7</string>
	<key>STORAGE_BUCKET</key>
	<string>final-school-project-3aeb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1774093691:ios:01fda3a3ed189d7f82a9de</string>
</dict>
</plist>